[Unit]
Description=Retropie Oled Display Contoller
After=multi-user.target
Requires=multi-user.target
StandardOutput=append:/home/pi/oled.log
StandardError=append:/home/user/oled.log

[Service]
Type=simple
ExecStart=/home/pi/retropie-oled-display-controller/linux/retropie_oled_display_controller/./retropie_oled_display_controller /home/pi/retropie-controller-display-and-lights/pacdrive.json

[Install]
WantedBy=multi-user.target