[Unit]
Description=Retropie Oled Display Contoller
After=multi-user.target
Requires=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/retropie-oled-display-controller/linux/retropie_oled_display_controller/./retropie_oled_display_controller /home/pi/retropie-controller-display-and-lights/pacdrive.json

[Install]
WantedBy=multi-user.target